/* Main page */
.page-Main_Page header.mw-body-header {
    display: none;
}

.frontpage-title {
    padding: 1em 2.5em;
    color: var(--color-base--subtle);
    font-weight: 300;
    font-size: 1.75em;
    
    @media screen and (max-width: 1024px){
        padding: 0.5em;
        font-size: 2em;
    }
    
    .prefix, .suffix {
        font-weight: 100;
        font-size: 60%;
    }
    .prefix {
        margin-bottom: 0;
    }
    h1 {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 800;
        color: var(--color-base--emphasized);
        font-size: 120% !important;
    }
    .suffix {
        margin-top: 0;
    }
    p {
        font-size: 65%;
        font-weight: 200;
    }
}